*{font-family: "Noto Sans TC",adiHausBold,Arial,Helvetica,Verdana,microsoft jhenghei,sans-serif;}

body{background-color: rgb(255, 255, 255)}

.fsc{width: 100%;height: 52.25%;}

.pic{margin: 0.3% 40%;width: 14.3%;}

.pic:hover{cursor: pointer;}

.news {margin-top: 1%;}

ul,li{padding:0; margin:0;list-style: none;margin-top: 2%;}

.news-content a{color: rgb(63, 63, 63);}

#collapse-nav{justify-content: flex-end;}

footer{text-align: center;background-color: rgb(26, 26, 26);color: rgb(255, 255, 255);}

.xyz{margin: 8.7%;display: inline-block;}

#News{height: 10cm;}

#About{height: 10cm;height: auto;}

#Link2{height: 10cm;}

#Contact{height: 10cm;}

.content{width: 60%;background-color: rgba(0, 0, 255, 0);font-size: 1.25em;margin-top: 2%;}

#menu{border: 0cm;outline: 0cm;}

#menu:hover{color: rgb(255, 255, 255);}







