@media (max-width: 1200px)
{
    .pic{width: 16%;}
}
@media (max-width: 991px)
{
    .pic{width: 20%;}

}
@media (max-width: 767px) 
{
    #xyz{justify-content: flex-end;}
    #collapse-nav{justify-content: flex-start;}
}