@media (max-width: 1200px)
{
    
    .pic{width: 16%;}

}
@media (max-width: 991px)
{
    .pic{width: 20%;}
    /*
    ul,li{padding:0; margin:0;list-style: none;margin-top: 1%;}
*/
}
@media (max-width: 767px) 
{
    #collapse-nav{justify-content: flex-start;}
    .navbar-nav{width: 98%;}
    .nav-item a{color: rgb(255, 255, 255) !important;}
    ul li{margin-top: 0%;}
    .nav-item:hover{background-color: rgba(255, 255, 255, 0.432);}
}