<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="./js/vue.global.prod.js"></script>
    
</head>

<body>
    <div id="mount-point">
        <div class="container">
            <div class="row">
                <input type="text" placeholder="Please input 10 symbols(Include space)" v-model.value="inputValue" @input="inputDetect">
            </div>
            <div class="row">
                <input v-for="i in 10" class="col-1" type="text" v-model.value="inputValue[i-1]" readonly >
            </div>
            <div class="row">
                <input v-for="i in 10" class="col-1" type="text" v-model.value="inputValue[i-1]" >
            </div>
        </div>
    </div>
</body>

<script src="./js/index.js"></script>
</html>